{% extends "template.html" %}
{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='table.css') }}">
{% endblock %}
{% block content %}
    <div class="table-wrapper">
        <div class="json-container">
            <h2> Symbol Table </h2>
            <pre class="code"> {{ sym }} </pre>
        </div>
        <div class="json-container">
            <h2> Type Table </h2>
            <pre class="code"> {{ typ }} </pre>
        </div>
    </div>
{% endblock %}